.plus{
   height: 60px; 
   width: 60px;
   margin-left: 50px;
   margin-top: 0px;
   position: fixed;
}
.plus:hover{
    transform: scale(1.2) ;
    transition: 300ms ease-in-out;

}
.poster1{
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hh1{
    color: rgb(255, 208, 0);
    font-size: 5em;
}
.hh2{
    font-size: 4em;
}
.sp1{
    color: black;
}
.sp2{
    color: rgb(255, 208, 0); 
}



 