.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.login{
    background-color: rgba(228, 228, 228, 0.4);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Form{
  margin-top: 50px;
  margin-bottom: 50px;
  height: max-content;
  background-color: #fff;
  border-radius: 16px;
  display: flex;
  gap: 0px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.login-form{
    padding-top: 70px;
    padding-right: 50px;
}
.login-form h1{
    text-align: left;
    margin: 20px 10px;
    font-size: 4em;
    color: rgb(255, 208, 0);;
}
.Form-group{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
hr{
    color: rgba(247, 243, 243, 0.875);
    margin-bottom: 25px;
    width: 100%;
}
label{
    font-size: 20px;
    padding-top: 12px;
}
input{
    background: rgba(0,0,0,0);
    border: none;
    font-size: 1.2em;
    color: black;
    padding: 10px 10px;
    outline: none;
}
input:active{
    border: none;
}
.log-in-btn{
    margin-left: 20px;
    height: 50px;
    width: 200px;
    margin-bottom: 20px;
    background-color: rgb(255, 208, 0);
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5em;
    font-weight: 600;
    transition: ease-out;
}
.log-in-btn:hover{
    border: 2px solid rgb(255, 208, 0);
    background-color: transparent;
    color: rgb(255, 208, 0);
}

@media only screen and (max-width: 1100px){
    .Form{
        flex-direction: column-reverse;
    }
    .login-form{
        padding-left: 50px;
    }
    .btn-div{
        display: flex;
        justify-content: center;
    }
    hr{
        width: 90%;
    }
}
@media only screen and (max-width: 810px) {
    .login-img img{
        width: 93%;
    }
}