.modalContainer{
    border-radius: 8px;
    height: 18em;
    width: 34em;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.modalBg{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.msg{
    text-align: center;
    font-size: 26px;
    color: rgb(160, 160, 160);
    padding: 0 10px;
}

.footer{
    display: flex;
    justify-content: center;
    margin-top: 28px;
}

.modalBtn{
    background-color: rgb(255, 208, 0);
    width: 9rem;
    border: 0.5px solid rgb(255, 208, 0);
    border-radius: 6px;
    color: white;
    font-size: 2em;
    font-weight: 600;
    height: 55px;
}
.modalBtn:hover{
    border: 2px solid rgb(255, 208, 0);
    background-color: transparent;
    color: rgb(255, 208, 0);
}
@media only screen and (max-width: 570px){
    .modalContainer{
        height: 13em;
    width: 25em;
    }
    .msg{
        font-size: 20px;
    }
    .modalBtn{
        width: 9rem;
        height: 45px;
        font-size: 1.6em;
    }
}